name: Deploy demo to GitHub Pages

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/deploy.yml
      - 'src/**'
      - 'example/**'
      - package.json
      - pnpm-lock.yaml
  # pull_request:
  #   branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version-file: .nvmrc
          cache: pnpm
      - name: Install dependencies and Build demo
        run: |
          pnpm install --frozen-lockfile
          pnpm build:demo
          touch demo/dist/.nojekyll
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./demo/dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
